@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";
@import './react-select.scss';
​
p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */



a {
    color: #85D9BF;
}
 body {
    background-color: #85D9BF;
    text-align: center;
 }


 h1 {
    text-align: center;
    text-transform: lowercase;
    width: 100%;
    color: white;
    margin-top: 5%;

 }

.loadingGif {
   position: relative;
   margin-top: 30%;
}

.loadingGifTwo {
   position: relative;
   margin-top: 10%;
}
  h2 {
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
    width: 100%;
    color: white;
 }

  h3 {
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
    font-size:50px;
    width: 100%;
    color: white;
    display: inline-block;
 }



 .big {
    text-align: center;
    text-transform: lowercase;
    width: 60%;
    font-size: 60px;
    font-weight: bold;
    text-transform: lowercase;
    background-color: rgba(255, 255, 255, 0.7);
    color: #85D9BF;
    left: 3%;
    top: 5%;
    padding: 0;
    margin: auto;
    margin-top: 7%;
    border-radius: 25px;
    border: 6px solid white;

 }


.button {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: white;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: #85D9BF;
    border: none;
    margin-bottom: 1.25%;
    font-weight: bold;
    box-shadow: none;
}

.dashButton {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: white;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    color: #85D9BF;
    border: none;
    left: 1%;
    width: 50px;
    font-size: 40px;
    top: 0;
    font-weight: bold;
    box-shadow: none;
    position: fixed;
}

.navBar {
    width: 300px;
    height: 8%;
    margin-left: 0;
    display: none;
    position: fixed;
    top: 0;
}

.navEl {
        font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: white;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: auto;
    color: #85D9BF;
    border: none;
    font-weight: bold;
    box-shadow: none;
    display: inline-block;
}


.moreButton {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: white;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 0%;
    left: -50%;
    text-align: left;
    color: #85D9BF;
    border: none;
    margin-bottom: 1.25%;
    font-weight: bold;
}

.buttonDir {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin-top: 5%;
    color: #85D9BF;
    border: none;
    font-weight: bold;
    box-shadow: none;

}

.buttonContainer {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.closest {

    z-index: 6;
    font-size: 25px;
    line-height: .9;
    text-transform: lowercase;
    color: #FCFAC9;

}

.open{
    z-index: 6;
    font-size: 25px;
    line-height: .9;
    text-transform: lowercase;
    color: #FCFAC9;
    text-decoration: none;
}

.container {
    width: 100%;
}


.detailWordsContainer {
    padding: 5%;
    width: 30%;
    margin-top: 5%;
    margin-right: 0px;
    margin-left: 10%;
    margin-bottom: 0;
    vertical-align: 0;
    border-radius: 25px;
    border: 6px solid white;
    padding: 20px; 
    display: block;
}

.detailImg {
    text-decoration: underline;
    height:50%;
    width: 50%;
}


.detailListing {
    width:100%;
    min-height:100%;
}

.directions {
    vertical-align: top;
    max-width: 40%;
    height: 93%;
    font-size: 40px;
    margin-top: 11%;
    padding: 5%;
    color: white;
    left: 0%;
    padding: 20px; 
    display: inline-block;
    position: absolute;
    overflow: scroll;
}
.dirH1 {
    background-color: rgba(255, 255, 255, 0.5); 
    display: inline-block;
    position: absolute;
    color:#85D9BF;
    text-align: left;
    font-size: 45px;
    margin-left: 0%;
    padding: 1%;
    left: 20%;
    margin-top: 1%;
    width: 45%;
    border-radius: 25px;
    border: 6px solid white;

}



.dirTitle {
    font-weight: bold;
    text-transform: lowercase;

    background-color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    color: #85D9BF;
    left: 3%;
    top: 5%;
    padding: 0;
    border-radius: 25px;
    border: 6px solid white;
    display: inline-block;
    position: absolute;
}

.dirTitleDirect {
    background-color: white;
    display: inline-block;
    text-decoration: underline;
}




.imgContainer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: auto;
    width: 100px;
    height: 200px;
    border: 6px solid white;
    display: inline-block;
}
.infoType {
    text-align: center;
}

.infoDiv {
    height: 100%;
    display: inline-block;
    width: 27%;
    margin-left: 1.5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: top;
    padding: 1%;
}
.infoDivMat {
    height: 100%;
    display: inline-block;
    width: 40%;
    margin-left: 1%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: top;
        padding: 1%;
}

.infoDivNone {
}
.info {
    background-color: #85D9BF;
    padding: 2%;
    text-align: left;
    margin-right: 22.9%;
    margin-left: auto;
    color: white;
    vertical-align: 0;
        border-radius: 25px;
    border: 1px solid white;
     width: 50%;
     margin-top: 0;
     padding-top: .5%;
     border-top: none;
}

.infoWords {
     width: 57%;
     display: inline-block;
     margin-right: 0%;
     margin-left: 0%;
     // background-color: rgba(255, 255, 255, 0.3);
     padding: 2%;
     border-radius: 25px;
     border: 1px solid white;

}

.instruction {
    border-radius: 25px;
    border: 6px solid white;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);

}
.instructNum {
    width: 9%; 
   font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    background-color: white;
    border-radius: 25px;
    margin-right: 3%;
    margin-left: 2%;
    left: 0;
    margin-top: 5%;
    color: #85D9BF;
    border: none;
    margin-bottom: 1.25%;
    font-weight: bold;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.instructMain {
    max-width: 80%;
    text-decoration: underline;
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    margin-top: 5%;
    color: #85D9BF;
    border: none;
    margin-bottom: 1.25%;
    font-weight: bold;
    box-shadow: none;
    border-radius: 25px;
}



.listing {
    padding: 1%;
    margin-top: 5%;
     background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    vertical-align: 0;
    border-radius: 25px;
    border: 6px solid white;
    display: block;
}

.miniInfo {
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    font-size:15px;
    width: 100%;
    color: white;
    display: block;

}

.marker {
    font-weight: bold;
    color: red;
    font-size: 23px;
    -webkit-text-stroke: 1px white;
}
.moreButtonContainer {
    text-align: left;
    margin-top: -3%;
    width: 95%;
    margin-left: 5%;
}

.map {
    width: 1640px;
    height: 1000px;
    display: inline-block;
    border-radius: 25px;
    border: 6px solid white;
    margin-right:0;
    margin-bottom:0;
    margin-left: 0;
    padding: 0;
    position: fixed;
    z-index: -1;
    left:0;
    top:0;

}


.mapNone {
    width: 950px;
    left: 40%;
    height: 950px;
    border-radius: 25px;
    border: 6px solid white;
    position: fixed;
}

.mapTwo {
    width: 290px;
    height: 290px;
    margin-left: 2%;
    border-radius: 25px;
    border: 6px solid white;

}

.neighborhood {
    width: 300px;
    padding: 5px;
    left:2%;
    margin-top: 1%;
    margin-bottom: 0%;
    position: fixed;
    border: 1px solid;
background-repeat: no-repeat;
background-position: 10px center;
color: #9F6000;
background-color: #FEEFB3;
}

 .boxLink {
    color:#9F6000;
    text-decoration: none;
 }
.boxLinkText {
    text-decoration: underline;
    display: inline-block;
 }

 .boxLinkText:hover {
    color: white;
 }

.origin{
    text-decoration: underline;
    font-size: 30px;
    background-color: white;
}
.streetViewArrow {
  width: 0;
  height: 0;
  z-index: 6;
  position:absolute;
  bottom: -3.5%;
  margin-left: 72%;
  border-left: 70px solid transparent;
  border-right: 0px solid transparent;
  border-top: 20px solid white;
}

.streetViewContainer {
     z-index: 6;
     margin-left: -31%;
     margin-top: -5%;
}

.streetView{
    width: 75%;
    height: 75%;
         border-radius: 25px;
    border: 6px solid white;
}

.streetViewYelp {
    z-index: 6;
    margin-left: -180%;
     border-radius: 25px;
    border: 6px solid white;
    margin-bottom: 0;
}

.streetViewArrowYelp {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 1px solid transparent;
  border-top: 10px solid white;
  position: absolute;
}
.streetViewContainer {
    position: absolute;
    display:none;
    z-index: 2;

}

.wordsContainer:hover > .streetViewContainer{
    display: inline;
 }

 .title {
   text-decoration: underline;
   text-transform: lowercase;
   font-size: 25px;
   color: white;
   font-weight: bold;
   display: inline-block;

 }

.words {
     width: 70%;
     display: inline-block;
}
.wordsContainer {
    background-color: #85D9BF;
    margin-top: 5%;
    margin: 0;
    margin-bottom: 0;
    border-radius: 25px;
    border: 6px solid white;
    padding: 20px; 
    display: inline-block;
      width: 95%;
    
}

.buttonX {
    background-color: transparent;
    left: -2%;
    margin-top: 0;
    margin-left: -2%;
    border: .3px white;
    padding: 0;
    top: 0;
}

.buttonX:focus {
   outline: 0;
}

.buttonX:hover {
   color: white;
}


@media only screen and (max-width: 640px) {
  
  .listing  {
    width: 100%;
  }

  .wordsContainer {
    width: 90%;
    
}

.dirTitle {
    margin-right: 1%;
}

.dirH1 {
    margin-top: 0%;
    top: 0;
    width: 40%;
}
    .directions {
            margin-top: 20%;
    }

   

}